/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #043353;
    --accent-color: #E44652;
    --primary-text: #1E1E1E;
    --secondary-text: #FAF8F0;
    --divider-color: #E4DFCF;
    --light-background: #FAF8F0;
    --dark-background: #043353;
    --valid-color: rgba(0, 150, 0, 0.70);
    --invalid-color: rgba(150, 0, 0, 0.70);
}

html, body { height: 100%; }
html { background: var(--light-background); }

* { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
}
h1, h2, h3, h4 {
    font-family: 'Comfortaa', cursive;
}

.form {
    width: 88%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0 rgba(128, 128, 128, 0.35);
    overflow: hidden;
}

.form__input {
    display: inline-block;
    margin: auto;
    width: 90% !important;
    line-height: 2 !important;
    padding: 0 1rem !important;
    border-radius: 30px;
    color: var(--primary-text) !important;
}

.form__input[type="password"] {
    letter-spacing: 7px;
}

.btn {
    border-radius: 30px !important;
    padding: 0 2em !important;
}

.favbtn {
    border-radius: 50% !important;
    width: 3rem;
    height: 3rem;
}

.btn:hover {
    opacity: .7;
}

.btn-stroked-primary {
    border: 1px solid var(--primary-color) !important;
    background: none !important;
    color: var(--primary-color) !important;
}

.btn-flat-primary {
    background: var(--primary-color) !important;
    color: var(--secondary-text) !important;
}

.btn__basic__accent {
    color: var(--accent-color) !important;
}

.btn__basic__primary {
    color: var(--primary-color) !important;
}

.toolbar {
    background: var(--light-background);
    color: var(--primary-text-color);
    position: fixed;
    z-index: 10;
}

.toolbar__icon {
    height: 1em;
}

.toolbar__spacer {
    flex: 1 1 auto;
}

.snackbar {
    font-weight: bold;
    color: var(--secondary-text)
}

.snackbar--valid {
    background: var(--valid-color);
}

.snackbar--invalid {
    background: var(--invalid-color);
}

.divider {
    background: var(--divider-color);
    height: 8vh;
}

.card {
    max-width: 80vw;
    margin: .5rem auto;
}

.card__content {
    font-size: 2em;
    text-align: center;
}