<div class="toolbar__button">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="[{outlets: {user: ['profile']}}]" routerLinkActive='active'>
            <mat-icon>account_circle</mat-icon>
            <span>Perfil</span>
        </button>
        <button *ngIf="user.EMAIL != null" mat-menu-item [routerLink]="[{outlets: {user: ['filesystem']}}]" routerLinkActive='active'>
            <mat-icon>cloud</mat-icon>
            <span>Sistema de archivos</span>
        </button>
        <button mat-menu-item (click)='signout()' routerLinkActive='active'>
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign out</span>
        </button>
    </mat-menu>
</div>

<router-outlet class="user__dashboard" name='user'></router-outlet>