.drawer {
    min-height: 70vh;
}

.drawer__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 25vw;
    overflow-y: hidden;
    padding: 1rem 1rem;
    background: var(--primary-color);
    color: var(--secondary-text);
}
